/* עיצוב חלונית הגדרות נגישות */
.accessibility-options {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #4caf50;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 150px;
  display: none;
  z-index: 9999;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.accessibility-options.visible {
  display: block;
}

#accessibility-btn {
  background-color: #a0b3c9;
  color: white;
  padding: 12px 20px;
  font-size: 1.9em;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 38px;
  left: 20px;
  z-index: 10000;
}

#accessibility-btn:hover {
  background-color: #286b97;
}

/* עיצוב כפתור הפעלת הגדרות */
.accessibility-button {
  background-color: #a0b3c9;
  color: white;
  padding: 12px 20px;
  font-size: 0.7em;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.accessibility-button:hover {
  background-color: #0056b3;
}

label {
  font-size: 1em;
  color: white;
  display: block;
  margin-bottom: 10px;
}
